body{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
nav{
	height:70px;
	border: 1px solid #eee;
}

#logo{
	float: left;
	height:100%;
	/*position: relative;*/
	text-align: center;
	/*line-height: 100%;*/
}

#logo a {
	line-height: 70px;
	margin-left: 20px;
}
/*#logo img{
	display: inline-block;
	position: absolute;
	top:10px;
	left:10px;
}
*/
#logo span{
/*	position: absolute;
	top:20px;
	left:60px;*/
	font-size: 35px;
	line-height: 70px;
	color:grey;	
}
#sidebar{
	float:right;
	height:100%;
}

#sidebar ul{
	margin:0;
	text-align: center;
	height: 100%;
}
#sidebar li{
	list-style-type: none;
	display: inline-block;
	line-height: 70px;
	/*border:1px solid #aaa;*/
	padding-right: 10px;

}
#sidebar li a {
 	text-decoration: none;
 	float:left;
 	color:grey;	
}

#sidebar li a:hover{
	color:#33CCCC;
}

.active{
	color:red;
}

#intro{
	text-align: center;
	padding: 40 0 ;
	border: 1px solid #aaa;
	background-image:url(../img/header.jpg); 
	background-repeat: no-repeat;
}

#intro h1{
	padding: 20 0;
}

#intro p{
	padding: 0 180;
}

@media screen and (max-width: 768px){
	body{
		color:lime;
	}
}