body{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
nav{
	height:70px;
	border: 1px solid #eee;
	position: relative;
}

#logo{
	float: left;
	height:100%;
	/*position: relative;*/
	
	/*line-height: 100%;*/
}

#logo a {
	margin-left: 20px;
}
#logo img{
	vertical-align: middle;
}

#logo span{
	font-size: 35px;
	vertical-align: middle;
	line-height: 70px;
	color:grey;	

}
#sidebar{
	float:right;
	height:100%;
}

#sidebar ul{
	margin:0;
	text-align: center;
	height: 100%;

}
#sidebar li{
	list-style-type: none;
	display: inline-block;
	line-height: 70px;
	/*border:1px solid #aaa;*/
	padding-right: 10px;

}
#sidebar li a {
 	text-decoration: none;
 	float:left;
 	color:grey;	
}

#sidebar li a:hover{
	color:#33CCCC;
}

.active a{
	color:#33CCCC;
}

#check{
	background-color: transparent;
	border:1px solid white;
	border-radius: 10px;
}


#intro{
	text-align: center;
	padding: 40 0 ;
	border: 1px solid #aaa;
	background-image:url(../img/sea.jpg); 
	background-repeat: no-repeat;
	color:white;

}

#intro h1{
	padding: 20 0;
}

#intro p{
	padding: 0 180;
}

#dropdownlist{
	float:right;
	height: 100%;
	width:100%;
	text-align: center;
	line-height: 70px;
	padding-right: 10px;
	display:none;
	position: absolute;
	left:0;
	right:0;
	top:0;
	height: 72px;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
}

#dropdownlist.active {
	height: 492px;
}

#dropdownlist span{
	display: block;
	text-align: right;
	padding-right:20px;
	color:grey;
}

#dropdownlist span:hover{
	color:#33CCCC;
}
#dropdownlist ul{
	margin: 0;
	padding:0;
	position: absolute;
	top:72px;
	width: 100%;
}

#dropdownlist li{
	list-style-type: none;
	background-color: rgba(0,102,255,0.9);
	display: block;

	
}

#dropdownlist li a{
	text-decoration: none;
	color:white;
}

#dropdownlist li a:hover{
	color:#00007A;
}

.dropdownlist a{
	color:#00007A;
}
@media screen and (max-width: 768px){
	
	#sidebar{
		display: none;
	}

	#dropdownlist{
		display: initial;
	}
}